vmaccepteula
 
# clear paritions and install
clearpart --firstdisk --overwritevmfs
install --firstdisk --overwritevmfs
 
#set the root password
#rootpw --iscrypted xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
rootpw P@ssW0rd!!
 
#Host Network Settings
#network --bootproto=static --addvmportgroup=1 --ip=192.168.0.10 --netmask=255.255.255.0 --gateway=192.168.0.1 --nameserver=192.168.0.1 --hostname=ESXHOST1
network --bootproto=dhcp --addvmportgroup=1 --device=vmnic0
 
reboot
 
#Firstboot section 1
%firstboot --interpreter=busybox
### Rename local datastore
vim-cmd hostsvc/datastore/rename datastore1 "$(hostname -s)-LOCAL"

sleep 30

### Enable maintaince mode
esxcli system maintenanceMode set -e true
 
#suppress Shell Warning
#esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
#esxcli system settings advanced set -o /UserVars/ESXiShellTimeOut -i 1
 
#Search domain
esxcli network ip dns search add --domain=domain.com

# DNS server addresses
esxcli network ip dns server add --server=8.8.8.8
 
#VSwitch Configurations
#esxcli network vswitch standard add --vswitch-name=vSwitch0 --ports=24
esxcli network vswitch standard uplink add --uplink-name=vmnic0 --vswitch-name=vSwitch0
esxcli network vswitch standard uplink add --uplink-name=vmnic1 --vswitch-name=vSwitch0
esxcli network vswitch standard policy failover set --active-uplinks=vmnic0,vmnic1 --vswitch-name=vSwitch0
esxcli network vswitch standard portgroup policy failover set --portgroup-name="Management Network" --active-uplinks=vmnic0,vmnic1
esxcli network vswitch standard portgroup add --portgroup-name=VSS-PROD-VM50 --vswitch-name=vSwitch0
#esxcli network vswitch standard portgroup remove --portgroup-name="VM Network" --vswitch-name=vSwitch0
 
#Firstboot Section 2
%firstboot --interpreter=busybox
 
 
#Disable IPv6
esxcli network ip set --ipv6-enabled=false
 
#Reboot
sleep 30
reboot
