[Unit]
Description=machine-id
ConditionPathExists=/root/machine-id.sh

[Service]
Type=oneshot
ExecStart=/root/machine-id.sh

[Install]
WantedBy=multi-user.target
